.container {
    width: 250px;
    height: 100%;
    background-color: #F6F6F6;
}
.nav-bar {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
mat-list-item {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
mat-list-item:hover {
    cursor: pointer;
}
.active {
    font-weight: bold;
    background-color: #efeded;

}