<div class="container">
  <content class="nav-bar">
    <section class="title">
      <h3>bibliotk</h3>
    </section>
    <section class="menus">
      @for (menu of menus; track menu.path) {
        <mat-list-item routerLinkActive="active" (click)="selectRoute()" [routerLink]="menu.path">
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{menu.title}}</div>
        </mat-list-item>
      }
      <mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <div matListItemTitle>sair</div>
      </mat-list-item>
    </section>
  </content>
</div>
